  <script src="../breeze/lib/js/jquery.js"></script>
  <script src="../breeze/lib/js/sea.js"></script>
  <!-- 图片上传 -->
  <script src="../breeze/lib/js/ajaxfileupload.js"></script>
  <!--page specific plugin scripts-->
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="../assets/js/fuelux/fuelux.tree.min.js"></script>
  <script src="../assets/js/fuelux/fuelux.spinner.min.js"></script>
  <script src="../assets/js/date-time/moment.min.js"></script>
  <script src="../assets/js/bootbox.min.js"></script>
  <script src="../assets/js/chosen.jquery.min.js"></script>
  <script src="../assets/js/jquery.easy-pie-chart.min.js"></script>
  <script src="../assets/js/jquery.sparkline.min.js"></script>
  <script src="../assets/js/flot/jquery.flot.min.js"></script>
  <script src="../assets/js/flot/jquery.flot.pie.min.js"></script>
  <script src="../assets/js/flot/jquery.flot.resize.min.js"></script>
  <script src="../assets/js/My97DatePicker/WdatePicker.js"></script>
  <!-- html编辑器 -->
  <script src="../breeze/xheditor/jquery-migrate-1.1.0.min.js"></script>
  <script src="../breeze/xheditor/xheditor-1.2.1.min.js"></script>
  <script src="../breeze/xheditor/xheditor_lang/zh-cn.js"></script>
  <!-- 多图上传函数 -->
  <script src="../breeze/swfupload/swfupload.js"></script>
  <script src="../breeze/swfupload/handlers.js"></script>
  <!--ace scripts-->
  <script src="../assets/js/highcharts.js"></script>
  <script src="../assets/js/ace-elements.min.js"></script>
  <script src="../assets/js/ace.min.js"></script>
  <script src="../assets/js/nw.js"></script>