<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>开发后台</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../assets/css/chosen.css" />
  <link rel="stylesheet" href="../assets/css/datepicker.css" />
  <link rel="stylesheet" href="../assets/css/bootstrap-timepicker.css" />
  <link rel="stylesheet" href="../assets/css/daterangepicker.css" />
  <link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="../assets/css/ace.min.css" />
  <link rel="stylesheet" href="../assets/css/ace-modify.css" />
  <link rel="stylesheet" href="../assets/css/ace-responsive.min.css" />
  <link rel="stylesheet" href="../assets/css/ace-skins.min.css" />
  <link rel="stylesheet" href="../assets/css/nw.css" />
  <!-- //权限校验 -->
  <script type="text/javascript">
    var NW = process.mainModule.exports;
    NW.getRoles(null, function(roles){
      if(roles){
        window.RFBRoles = roles;
      }else{
        top.location.href = 'login.html';
      }
    })
  </script>
</head>
<body class="skin-1">


