<!-- beg leftmenu -->
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>
    <div class="sidebar menu-min" id="sidebar">
      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <a href="model.html" class="btn btn-small btn-success">
            <i class="icon-cloud"></i>
          </a>
          <a href="cms.html?alias=workflow" class="btn btn-small btn-info">
            <i class="icon-puzzle-piece"></i>
          </a>
          <a href="cms.html?alias=service" class="btn btn-small btn-warning">
            <i class="icon-exchange"></i>
          </a>
          <a href="cmslist.html?alias=role" class="btn btn-small btn-danger">
            <i class="icon-cogs"></i>
          </a>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
          <span class="btn btn-success"></span>
          <span class="btn btn-info"></span>
          <span class="btn btn-warning"></span>
          <span class="btn btn-danger"></span>
        </div>
      </div>
      <!--#sidebar-shortcuts-->
      <ul class="nav nav-list">
        <li>
          <a href="home.html">
            <i class="icon-home"></i>
            <span class="menu-text">店铺首页</span>
          </a>
        </li>
        <li>
          <a data-action="cash_record.addData" href="cash.html">
            <i class="icon-shopping-cart"></i>
            <span class="menu-text">收银台</span>
          </a>
        </li>
        <li>
          <a data-action="user.queryData" href="usecard.html">
            <i class="icon-barcode"></i>
            <span class="menu-text">会员刷卡</span>
          </a>
        </li>
        <li>
          <a data-action="user.addData" href="cmsadd.html?alias=user&action=conAdd">
            <i class="icon-user"></i>
            <span class="menu-text">会员注册</span>
          </a>
        </li>
        <li>
          <a data-action="card.addData"  href="cmsadd.html?alias=card&action=conAdd">
            <i class="icon-credit-card"></i>
            <span class="menu-text">会员开卡</span>
          </a>
        </li>
        <li>
          <a data-action="case.addData" href="cmsadd.html?alias=case&action=conAdd">
            <i class="icon-headphones"></i>
            <span class="menu-text">会员就诊</span>
          </a>
        </li>
        <li>
          <a data-action="reservation.addData" href="cmsadd.html?alias=reservation&action=conAdd">
            <i class="icon-bookmark-empty"></i>
            <span class="menu-text">会员预约</span>
          </a>
        </li>
        <li>
          <a data-action="sms_record.addData" href="sendsms.html?alias=sms_record&action=conAdd">
            <i class="icon-envelope"></i>
            <span class="menu-text">发送短信</span>
          </a>
        </li>
      </ul>
      <!--/.nav-list-->

      <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left"></i>
      </div>
    </div>
    <!-- end leftmenu -->